body {
    background: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: arial;
}

h1 {
    color: white;
}

#splash {
    position: fixed;
    left: 0;
    right: 0;
    background-image: url('background.jpg');
    background-size: cover;
    height: 100vh;    
    width: 100vw;
    filter: blur(1px) opacity(90%) grayscale(0%);
}


#splashContent {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;    
    width: 100%;
    filter: blur(0px) opacity(100%) grayscale(0%);
    display: flex;
    align-items: center;
    justify-content: left;
}

#splashText {
    width: 30%;
    background-color: rgba(255, 255, 255, .8);
    position: relative;
    bottom: 50px;
    left: 100px;
    text-align: center;
    padding:30px;
    color: rgba(56, 56, 56);
}

.pageHeader {
    width: 100%;
    padding: 30px 30px 30px 0;
    color: rgba(56, 56, 56);
    font-size: 30px;
}

#panelContainer {
    width: 100%;
}

#leftPanel {
    width: 100%;
}

#rightPanel {
    width: 100%;
    margin-top: 40px;
}

#appname {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#tagline {
    font-size: 30px;
    font-weight: bold;
    margin-top:30px;
}

#app {
    position: relative;
    width: 100%;
    top: 30%;
}

.container {
    display: block;
    width: 70%;
    min-width: 70vw;
    margin: 0 auto;
}

#vhCentered {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userMenu {

}

#actionRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#actionBuilding {
    flex: 1 0 0;
}

#actionDate {
    flex: 1 0 0;
}

#actionReservationTitle {
    flex: 1 0 0;
}
#actionRooms {
    flex: 1 0 0;
}

#actionTime {
    flex: 1 0 0;
}

#actionReservation {
    flex: 1 0 0;
}

#container {
    /*display: flex;
    justify-content: center;
    background: #eff5ff;
    width: 100%;
    max-height: 800px;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 8px 1px #3d3d3d;*/

}

#containertitle {
    font-weight: bold;
    padding: 10px;
}

#adminfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

#forms {
    text-align: right;
    margin-bottom: 5px;
}

#create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: 1px solid black;
}

#createfields {
    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: column;

}

#loginbtn {
    margin-bottom: 10px;
}

#createorgbtn {
    margin-bottom: 5px;
}

#err {
    color: red;
    font-size: 12px;
}
